h1 { 
    font-family: "Modern line", sans-serif;
    color:maroon;
} 

img{
    border: 3px solid beige;
    display:block;
    margin:0 auto;     
}

a {
    Background-color:maroon;
    color:white;
    padding:5px 10px;
    text-decoration:none;0
}